<nav id="navbar" class="fixed top-0 left-0 right-0 items-center justify-between flex-wrap bg-gray-700 p-4">
  <div class="w-full block flex-grow flex items-center w-auto">
    <div class="text-sm flex-grow flex justify-center">
      <a href="#about" class="block inline-block mt-0 text-teal-200 hover:text-white mr-10">
        About me
      </a>
      <a href="#career" class="block inline-block mt-0 text-teal-200 hover:text-white mr-10">
        Career
      </a>
      <a href="#skill" class="block inline-block mt-0 text-teal-200 hover:text-white mr-10">
        Skill
      </a>
      <a href="#note" class="block inline-block mt-0 text-teal-200 hover:text-white">
        Note
      </a>
    </div>
  </div>
</nav>